################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimpleRender/Debug
/SimpleRender/SimpleRender.vcxproj.filters
/SimpleRender/SimpleRender.vcxproj
/Debug
